@page "/"

<h1 class="h1" style="color: blueviolet;">Welcome to Smart's chat app</h1>

<p>You can use the general page to talk with everyone!</p>
<p>You can use the group page to talk to someone (or a group) - Ensure you all use the same group name (case - sensitive)!</p>

<p class="font-weight-bold">Ensure you are connected before attempting to chat!</p>

<p style="color:burlywood">Happy Chatting💪</p>