@page "/"

<h1 class="h1" style="color: blueviolet;">Welcome to Smart's chat app</h1>

<p>You can use the general room to talk with everyone and you can use the group to connect to a particular chat room</p>

<p style="color:burlywood">Happy Chatting💪</p>